footer {
    width: 100vw;
    height: 15vh;
    background-color: #4A4A4A;
    color: white;
    position: relative;
    bottom: 0;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1rem;
    display: block;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}
#footer-glob{
    background-color: #4A4A4A;
}

#footer-tab{
    display: flex;
    justify-content: center;
    background-color: #4A4A4A;
    border-color: #4A4A4A;
    margin-top: 5vh;

}

#footer-tab ul{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

#footer-tab li{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    
}

#copyright{
    border-color: #4A4A4A;
    background-color: #4A4A4A;
    
    display: flex;
    padding-right:20vw;
    margin: 0px;
    align-items: flex-start;
    justify-content: flex-end;
 
}





@media (min-width:769px){

    #footer-tab ul{
        display: flex;
        flex-direction: row;
    }
    
}
