header {
    max-width: 100vw;
    height: 10vh;
    background-color: #BDAFAA;
}

#nav-menu ul{
    display: flex;

}

#nav-menu li{
    margin: 0.4rem;
    
}


#nav-login ul{
    display: flex;
    justify-content: flex-end;
    
    
}
#nav-login li{
    align-items: flex-start;
    margin: 0.2rem;
}

