* {
    box-sizing: border-box;
    max-width: 100vw;
    
}

html {
    width: 100vw;
    overflow-x: hidden;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1efee;

}
main {
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.div-info{
    display:flex;
    margin: 4rem;
    width: 70%;
    margin-left:auto;
    margin-right: auto;

}

.div-info img{
    max-width: 40rem;
    height: 50%;
}

.izq {
    flex-direction: row-reverse;
}


p {
   
    margin: 2rem 0;
    font-size: 1rem;
    text-align: center;
    padding: 0 4rem 0 4rem;
    
}

.div-info:hover{
    background-color: #ddd8d6;
}



@media (min-width:738px){

    #section-vinos {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        max-width: 100%;
    }



}

@media (min-width:769px){
    #burger-menu{
        display: none;
    }
}