body { 
    background-color: #e5e5e5;}
main { 
    display: block;}
.cuadrop { 
    width: 90vw;
    height:35vh;
    margin-top: 5vh;
    margin-left: 5vw;
    display: flex;}
.producto { 
    background-color: white;
    width: 20vw;
    height: 29vh;
    margin-bottom: 8vh;
    margin-left: 5vw;}
.producto img { 
    width: 20vw;
    height: 29vh;}
.otros { 
    width: 70vw;
    height: 29vh;
    margin-bottom: 8vh;
    margin-left: 5vw;
    display: block;}
.nombre { 
    background-color: white;
    width: 40vw;
    height: 6vh;
    margin: auto;
    margin-left: 0vw;}

.añadir { 
    background-color: #c2755e;
    color:white; 
    text-align: center;
    font-size: large;
    width: 20vw;
    height: 6vh;
    margin: auto;
    margin-top: 2vh;
    margin-left: 0vw;}
.c { 
    width: 20vw;
    height: 6vh;
    margin: auto;
    display: flex;
    margin-top: 2vh;
    margin-left: 0vw;}
.c1 { 
    background-color: white;
    width: 9vw;height: 6vh;
    margin-left: 0vw;}
.c2 { 
    background-color: white;
    width: 9vw;
    height: 6vh;
    margin-left: 2vw;}
.d { 
    background-color: white;
    width: 12vw;
    height: 4vh;
    margin: auto;
    margin-top: 2vh;
    margin-left: 0vw;
    display: flex;}
.d1 { 
    width: 4vw;
    height: 4vh;
    border-right: solid black 0,5vw;
    text-align: center;
    align-items: center;
    padding: auto;}

hr{width: 90vw;}
.palabritas { 
    width: 30vw;
    height: 10vh;
    display: flex;
    margin-left: 10vw;}
.solapas { 
    width: 15vw;
    height:4vh;
    text-align: left;
    background-color: #e5e5e5;
    border: #e5e5e5;}
.des {
    display: none;
}

.solapas:hover {
    background-color: white;
    }


.final { 
    width: 50vw;
    height: 30vh;
    margin-top:10vh;
    margin-left: 15vh;
    display: block;}
.relacionados { 
    width: 20vw;
    height: 5vh;
    color:black;}
.alineados { 
    display: flex;}
.f { 
    background-color: white;
    width:10vw;
    height: 10vh;
    margin-right: 3vw;}
.f img { 
    width: 10vw;
    height: 10vh;
    z-index:1;}
.f img:hover{
    width: 15vw;
    height: 15vw;
    z-index: 2;
}
.botones{
    display: flex;
}





