body {
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
}

main {
    display: block;
    height: 60vh;

}

.container {
    margin-top:4rem;
    width: 70%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
}

.image {
    padding-top:1rem;
    width: 50%;
}

.image img {
    max-width: 85%;
    
    
}

.content {
    padding:1rem;
    width: 50%;
    


}

.description {
    display:flex;
    flex-direction: column;
    
}

.detail {
    display: flex;
    margin: 0.6rem;
}

.detail p{
    
    width: 8rem;
}

.detail input{
    
    width: 20rem;
}

.detail textarea{
    resize: none;
    height: 3rem;
}



.añadir {
    background-color:#757575;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top:1.5rem;
    text-align: center;
    /*width: 70%;*/
    width: 10rem;
}

.añadir:hover {
    background-color: #694343;
  }

  
.añadir:active {
    background-color: #694343;
  }

  .buttons{
      display:flex;
      justify-content: center;
  }
