body {
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

input {
    background-color: #C4C4C4;
}

.titulo {
    margin-left: 25vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #c2755e;
    color: white;
    text-align: center;
    width: 10vw;
    padding: 1rem;
    margin: 5% 35% 0 40%;
    
}

textarea {
    height: 10hv;
}

form {
    text-align: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #cccccc;
    width: 50%;
    margin-left: 25%;
    margin-right: 30%;
}

section * {
    margin-bottom: 0.7vh;
}

image {
    width: 50%;
}



@media (max-width:900px) {
    .crear {
        width: 80vw;
        margin: auto;
    }
    .titulo {
        margin-left: 10vw;
        font-size: 5vw;
    }
    .crear div {
        width: 100%;
    }
}