body {
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
   
}

main {
    display: block;
    height: 65vh;

}

.title {
    font-weight: 700;
    margin-top:2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.container {
    width: 70%;
    height: 100%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right:auto;
    display: flex;
}

.image {
    padding-top:1rem;
    width: 40%
}

.image img {
    width: 100%;
}

.content {
    padding:1rem;
    width:60%;

}

.intro{
    margin:1rem 0 0 1rem;
    
}

.description {
    margin: 1rem 1rem 1rem 1rem;
    
    
}

.price {
    margin: 1rem 1rem 1rem 1rem;
    
}

span{
    font-weight: bold;
}

.buttons{
    width: 70%;
    display: flex;
    justify-content:center;
    margin-top: 4rem;
    margin-left:2rem;
    margin-right:auto;
    
    
}
.button{
    margin-right:1rem;
    width: 40%;
}


.button input{

    width: 100%;
}

.button button{

    width: 100%;
}


.añadir {
    background-color:#757575;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top:1.5rem;
    text-align: center;
    width: 70%;
}

.añadir:hover {
    background-color: #694343;
  }

  
.añadir:active {
    background-color: #694343;
  }