<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>

    <body>
        <%- include("./partials/header")%>
            <main>



                <form action="/" method="POST" class="form">
                    <p class="title">Completá tus datos para ponerte en contacto con nosotros </p>

                    <div class="input-container ic1">
                       
                        <input type="text" name="nombre" placeholder="Nombre" class="input" >
                    </div>

                    <div class="input-container ic1">
                        
                        <input type="text" name="empresa" placeholder="Empresa" class="input" >
                    </div>
                    <div class="input-container ic1">
                        
                        <input type="textarea" name="motivo" placeholder="Motivo" class="input textarea" wrap="hard">
                    </div>
                    <input type="submit" value="Enviar" class="submit">

                </form>



            </main>
            <%- include("./partials/footer")%>

    </body>

</html>