<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>

<p>Completá tus datos para ponerte en contacto con nosotros </p> 

<form action="/" method="POST"> 
<label>Nombre: </label>
<input type="text" name="nombre"><br><br>

<label>Empresa: </label>
<input type="text" name="empresa"><br><br>

<label>Motivo: </label>
<input type="textarea" name="motivo"><br><br>

<input type="submit" value="Enviar">

</form>



</main>
<%- include("./partials/footer")%>

</body>
</html>