<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<header>
<h1>Este es el header</h1>
</header>
<main>
    <section> 
        <img src="/img/viñedos.jpg">
    </section>
    <section>
        <article><p>Envio</p></article>
        <article><p>Metodo de Pago</p></article>
        <article><p>Ofertas</p></article>
    </section>
    <section>
        <p>Vinos</p>
    </section>
    <section>
        <article><p>imagen 1</p></article>
        <article> <p>imagen 2</p></article>
        <article> <p>imagen 3</p></article>
    </section>

</main>

<footer>
<h2> Este es el footer</h2>
</footer>

    
</body>
</html>