<!DOCTYPE html>
<html lang="en">

    <%-include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
        <section id="banner">
            <img src="/img/viñedos.jpg">
        </section>

        <section id="sub-banner">
            <article>
                <i class="fas fa-truck"></i>
                <p>Envios</p>
            </article>
            <article>
                <i class="fas fa-money-bill-alt"></i>
                <p>Pagos</p>
            </article>
            <article>
                <i class="fas fa-gifts"></i>
                <p>Ofertas!</p>
            </article>
        </section>
        <section id="texto-res">
            <p>Vinos premium</p>

        </section>
        <section id="section-vinos">
            <article>
                <img src="/img/vino1.jpg">
                <p>Vino 1</p>
                <p>$4.000</p>
            </article>
            <article>
                <img src="/img/vino2.jpeg">
                <p>Vino 2</p>
                <p>$11.700</p>
            </article>
            <article>
                <img src="/img/vino3.jpg">
                <p>Vino 3</p>
                <p>$3.200</p>
            </article>
        </section>

    </main>

    <%- include("./partials/footer") %>


</body>

</html>