<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>

        <figure>
            <img src="/img/logo.png">
        </figure>

        <a href="#" id="burger-menu">
            <i class="fas fa-bars burger"></i>
        </a>

        <nav id="nav-menu" class="show-mobile">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/">Vinos</a>
                </li>
                <li>
                    <a href="/">Varietales</a>
                </li>
                <li>
                    <a href="/">Bodegas</a>
                </li>
                <li>
                    <a href="/">Servicio a empresas</a>
                </li>
                <li>
                    <a href="/">Nosotros</a>
                </li>
                <li>
                    <a href="/">Contacto</a>
                </li>
            </ul>
        </nav>


        <nav id="nav-login">
            <ul>
                <li>
                    <a href="/register">

                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">

                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href='/'>

                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
    <h1 class="log">Inicio de Sesión</h1>
    <div class="logi">
        <form action="">
            <div class="logu">
            <div>
                <div><label for="">E-mail</label></div>
                <div><input type="email"></div>
            </div>
            <div>
                <div><label for="">Contraseña</label></div>
                <div><input type="password"></div>
            </div>
            <div>
                <label for="">Recordar datos de Inicio</label>
                <input type="checkbox">
            </div>
            <div>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>
            </div>
        </form>
    </div>
    </main>
    <footer>
 
        <section id="footer-tab">
            <ul>
                <li>Inicio</li>
                <li>Vinos</li>
                <li>Bodegas</li>
            </ul>
            <ul>
                <li>Nosotros</li>
                <li>Contacto</li>
            </ul>
        </section>
        <section id="copyright">
            <p>Copyright © 2021</p>
        </section>
       

    </footer>

</body>
</html>