<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
    <h1 class="titulo">Inicio de Sesión</h1>
    
    <% if (locals.errors) { %>
        <% for(oneError in errors) { %>
            <p> <%= errors[oneError].msg %> </p>
        <% } %>
    <% }%>


        <form action="/login" method="POST" class="formulario">
            <div>
                <div><label for="">E-mail</label></div>
                <div><input type="email" name="email"></div>
            </div>
            <div>
                <div><label for="">Contraseña</label></div>
                <div><input type="password" name="password"></div>
            </div>
            <div id="datos">
                <label for="" id="datos">Recordar datos de Inicio</label>
                <input type="checkbox">
            </div>
            <div>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>

        </form>
    
    </main>
    <%- include("./partials/footer")%>

</body>
</html>