<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
    <h1 class="titulo">Inicio de Sesión</h1>
    
        <form action="" class="formulario">
            <div>
                <div><label for="">E-mail</label></div>
                <div><input type="email"></div>
            </div>
            <div>
                <div><label for="">Contraseña</label></div>
                <div><input type="password"></div>
            </div>
            <div id="datos">
                <label for="" id="datos">Recordar datos de Inicio</label>
                <input type="checkbox">
            </div>
            <div>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>

        </form>
    
    </main>
    <%- include("./partials/footer")%>

</body>
</html>