<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>

<p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus, dui in elementum rutrum, sem lorem dapibus ligula, in dictum nunc felis quis quam. Etiam nec enim dapibus, congue arcu quis, pellentesque tortor. Nunc eu pharetra est. In ultricies iaculis sapien, tempor sagittis enim egestas ac. Integer scelerisque, sem laoreet tempor congue, nibh urna commodo tellus, et accumsan erat tellus rutrum nulla. Suspendisse ac sagittis dolor. Proin scelerisque orci nisl, sed imperdiet erat congue vitae. Quisque dapibus ipsum non lobortis imperdiet. Aenean ullamcorper vitae neque non tincidunt. Aenean dignissim ut mi eleifend dapibus. Etiam in mattis sem. Donec ullamcorper gravida dolor sed posuere. Maecenas malesuada sem eu sapien fringilla congue. Fusce et aliquam neque, ullamcorper dignissim metus. Maecenas vehicula augue ut imperdiet facilisis. Aliquam quis malesuada elit, quis egestas massa.
</p>
<p>
Nulla facilisi. Pellentesque eu tempus risus. Nullam consequat, magna a fermentum scelerisque, diam dui malesuada dui, vel blandit sapien nisi et nisl. Nam quis dolor non quam eleifend cursus. Proin sollicitudin luctus lorem, ac iaculis enim porttitor ac. Nullam accumsan tempor tempus. Pellentesque tempor ligula ante, vel venenatis leo egestas a. Aenean fermentum in quam non aliquet. Sed molestie accumsan congue. Vivamus ut commodo diam, sed consequat tortor. Donec at est sapien. Curabitur sagittis quis est et venenatis. In condimentum, lectus id tincidunt dapibus, eros ex placerat justo, vel feugiat libero dui eu sapien. Praesent rutrum justo in facilisis volutpat. Curabitur venenatis ante quis massa rhoncus luctus.
</p>
<p>
Nulla id ipsum vitae erat ultrices tincidunt sed quis tortor. Integer tempus sem id gravida elementum. Duis sollicitudin fermentum massa quis convallis. Nunc venenatis quam eu massa aliquet sollicitudin. Sed in diam velit. Curabitur efficitur sapien vitae odio aliquam, ac porta erat tincidunt. Quisque egestas dapibus sodales. Nulla a varius erat, vestibulum ultricies sem. Donec urna turpis, mattis eget tincidunt sit amet, hendrerit vel massa. In sollicitudin tellus feugiat, consequat quam sit amet, gravida lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In neque lorem, venenatis non ex at, euismod dapibus purus. Proin vulputate, ipsum gravida dictum bibendum, augue lorem gravida turpis, porta efficitur est elit quis orci.
</p> 
</main>
<%- include("./partials/footer")%>

</body>
</html>