<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
        <section class="cuadro">
            <div class="carrito">
                <h1><p>Carrito</p></h1>
            </div>
            <hr>
            
            <%- include("./partials/producto")%>
            
            <div class="penultimo">
                <div class="total1"><p>Total con envio</p></div>
                <div class="total2"><p>$</p></div>
            </div>
            <hr>
            <div class="ultimo"><p>Continuar Compra</p></div>
        </section>
    </main>

    <%- include("./partials/footer")%>

    
</body>
</html>