<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
        <div class="cuadro">
            <div class="a">
                <h1>Carrito</h1>
            </div>
            <hr>
            <div class="b">
                <div class="cuadrado"><img src="/img/vino1.jpg" alt=""></div>
                <div class="medio">
                    <div class="grande">Nombre del producto</div>
                    <div class="linea">
                        <div class="c1">0</div>
                        <div class="c2">Cantidad</div>
                    </div>
                </div>
                <div class="costado">$</div>
            </div>
            <hr>
            <div class="c">
                <div class="cuadrado"><img src="/img/vino1.jpg" alt=""></div>
                <div class="medio">
                    <div class="grande">Nombre del producto</div>
                    <div class="linea">
                        <div class="c1">0</div>
                        <div class="c2">Cantidad</div>
                    </div>
               </div>
                <div class="costado">$</div>                
            </div>
            <hr>
            <div class="d">
                <div class="total1">Total con envio</div>
                <div class="total2">$</div>
            </div>
            <hr>
            <div class="e">Continuar Compra</div>
        </div>
    </main>

    <%- include("./partials/footer")%>

    
</body>
</html>