<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>productDetail</title>
</head>
<body>
    <header>

        <figure>
            <img src="/img/logo.png">
        </figure>

        <a href="#" id="burger-menu">
            <i class="fas fa-bars burger"></i>
        </a>

        <nav id="nav-menu" class="show-mobile">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/">Vinos</a>
                </li>
                <li>
                    <a href="/">Varietales</a>
                </li>
                <li>
                    <a href="/">Bodegas</a>
                </li>
                <li>
                    <a href="/">Servicio a empresas</a>
                </li>
                <li>
                    <a href="/">Nosotros</a>
                </li>
                <li>
                    <a href="/">Contacto</a>
                </li>
            </ul>
        </nav>


        <nav id="nav-login">
            <ul>
                <li>
                    <a href="/register">

                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">

                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href='/'>

                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        <div class="cuadrop">
            <div class="producto"></div>
            <div class="otros">
                <div class="a"></div>
                <div class="b"></div>
                <div class="c">
                    <div class="c1"></div>
                    <div class="c2"></div>
                </div>
                <div class="d"></div>
            </div>
        </div>
        <br>
        <div class="palabritas">
            <div class="p1"></div>
            <div class="p2"></div>
        </div>
        <div class="final">
            <div class="relacionados">Productos Relacionados</div>
            <div class="fotitos">
                <div class="f1"></div>
                <div class="f2"></div>
                <div class="f3"></div>
                <div class="f4"></div>
            </div>
        </div>
    </main>
    
</body>
</html>