<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
        <h1 class="titulo">Completa tus datos</h1>
        
            <form action="/products" method="POST" class="crear" enctype="multipart/form-data"> <!--multipart/form" -->
            
                <section>
                <label for="name">Nombre del Producto</label>
                <input type="text" name="name">
        
                <label for="description">Descripcion</label><br>
                <textarea name="description" id="description" cols="25" rows="5" placeholder="Inserte la descripción del producto aquí"></textarea>
            
                <label for="image">Imagen</label>
                <div id=image> <input type="file" name="image-vino" id="image-vino"><!--id="image" --></div>
            
                <label for="category">Categoria</label>
                
                    <select name="category">
                        <option value="malbec">Malbec</option>
                        <option value="rose">Rose</option>
                        <option value="syrah">Syrah</option>

                    </select>
                
            
            <div>
                <div><label for="price">Precio</label></div>
                <div><input type="number" name="price" id="price"></div>
            </div>


            
                <button type="submit" value="Save">Crear Producto</button>
            </section>
            </form>
    </main>
    <%- include("./partials/footer")%>
</body>
</html>