<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>productCart</title>
</head>
<body>
    <header>

        <figure>
            <img src="/img/logo.png">
        </figure>

        <a href="#" id="burger-menu">
            <i class="fas fa-bars burger"></i>
        </a>

        <nav id="nav-menu" class="show-mobile">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/">Vinos</a>
                </li>
                <li>
                    <a href="/">Varietales</a>
                </li>
                <li>
                    <a href="/">Bodegas</a>
                </li>
                <li>
                    <a href="/">Servicio a empresas</a>
                </li>
                <li>
                    <a href="/">Nosotros</a>
                </li>
                <li>
                    <a href="/">Contacto</a>
                </li>
            </ul>
        </nav>


        <nav id="nav-login">
            <ul>
                <li>
                    <a href="/register">

                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">

                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href='/'>
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        <div class="cuadro">
            <div class="a">
                <h1>Carrito</h1>
            </div>
            <hr>
            <div class="b">
                <div class="cuadrado"><img src="/img/vino1.jpg" alt=""></div>
                <div class="medio">
                    <div class="grande">Nombre del producto</div>
                    <div class="linea">
                        <div class="c1">0</div>
                        <div class="c2">Cantidad</div>
                    </div>
                </div>
                <div class="costado">$</div>
            </div>
            <hr>
            <div class="c">
                <div class="cuadrado"><img src="/img/vino1.jpg" alt=""></div>
                <div class="medio">
                    <div class="grande">Nombre del producto</div>
                    <div class="linea">
                        <div class="c1">0</div>
                        <div class="c2">Cantidad</div>
                    </div>
               </div>
                <div class="costado">$</div>                
            </div>
            <hr>
            <div class="d">
                <div class="total1">Total con envio</div>
                <div class="total2">$</div>
            </div>
            <hr>
            <div class="e">Continuar Compra</div>
        </div>
    </main>

    <footer>
 
        <section id="footer-tab">
            <ul>
                <li>Inicio</li>
                <li>Vinos</li>
                <li>Bodegas</li>
            </ul>
            <ul>
                <li>Nosotros</li>
                <li>Contacto</li>
            </ul>
        </section>
        <section id="copyright">
            <p>Copyright © 2021</p>
        </section>
       

    </footer>

    
</body>
</html>