<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
        <h1 class="titulo">Completa tus datos</h1>
        
            <form action="/products" method="POST" class="crear">
            <div>
                <div><label for="name">Nombre del Producto</label></div>
                <div><input type="text" name="name"></div>
            </div>
            
                <div><label for="description">Descripcion</label></div>
                <div><textarea name="description" id="description" cols="25" rows="5">El producto...</textarea></div>
            </div>
            <div class="especial">
                <div><label for="image">Imagen</label></div>
                <div><input type="file" name="image" id="image"></div>
            </div>
            <div></div>
            
                <label for="category">Categoria</label>
                
                    <select name="category">
                        <option value="malbec">Malbec</option>
                        <option value="rose">Rose</option>
                        <option value="syrah">Syrah</option>

                    </select>
                
            
            <div>
                <div><label for="price">Precio</label></div>
                <div><input type="number" name="price" id="price"></div>
            </div>

            <div><label for="price">Precio</label></div>
            <div><input type="number" name="price" id="price"></div>
            <div>
                <button type="submit" value="Save">Crear Producto</button>
            </div>
            </form>
    </main>
    <%- include("./partials/footer")%>
</body>
</html>