<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main class="main">
        <div class="cuadrop">
            <div class="producto"><img src="/img/vino3.jpg" alt="" srcset=""></div>
            <div class="otros">
                <div class="a"></div>
                <div class="c">
                    <div class="c1"></div>
                    <div class="c2"></div>
                </div>
                <div class="b">Añadir al Carrito</div>
                <div class="d">
                    <div class="d1">-</div>
                    <div class="d2"></div>
                    <div class="d3">+</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="palabritas">
            <div class="p1">Descripción</div>
            <div class="p2">Valoraciones</div>
        </div>
        <div class="final">
            <div class="relacionados">Productos Relacionados</div>
            <div class="fotitos">
                <div class="f1"><img src="/img/vino1.jpg" alt="" srcset=""></div>
                <div class="f2"><img src="/img/vino1.jpg" alt="" srcset=""></div>
                <div class="f3"><img src="/img/vino1.jpg" alt="" srcset=""></div>
                <div class="f4"><img src="/img/vino1.jpg" alt="" srcset=""></div>
            </div>
        </div>
    </main>
    <%- include("./partials/footer")%>

    
</body>
</html>