<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main class="main">
        <div class="cuadrop">
            <div class="producto"><img src="/img/vino3.jpg" alt="" srcset=""></div>
            <div class="otros">
                <div class="nombre"><p>Nombre del Producto</p></div>
                <div class="c">
                    <div class="c1"><p>$</p></div>
                    <div class="c2"><p>Envío</p></div>
                </div>
                <input type="button" class="añadir" value="Añadir al Carrito">
                <div class="d">
                    <input type="button" class="d1" value="-">
                    <div class="d1">1</div>
                    <input type="button" class="d1" value="+">
                </div>
            </div>
        </div>
        <hr>
        <div class="palabritas">
            <input type="button" class="solapas" value="Descripción">
            <input type="button" class="solapas" value="Valoraciones">
        </div>
        
        

        <div class="final">
            <div class="relacionados">Productos Relacionados</div>
            <%- include("./partials/relacionados")%>
        </div>
    </main>
    <%- include("./partials/footer")%>

    
</body>
</html>