body { background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;}
.formulario { 
    display: flex;
    flex-wrap: wrap;
    background-color: #C4C4C4;
    width: 50vw;
    height: 60vh;
    margin-left: 25vw;
    margin-right: 25vw;
    display:flex;
    flex-wrap: wrap;
    margin-top: 5vh;}
input { 
    background-color: #C4C4C4;}
.formulario div {
    display:block;
    width: 25vw;
    text-align: left;
    font-family: 'Poppins', sans-serif;}
.titulo { margin-left: 25vw;
    margin-top: 5vh;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;}

button { 
    background-color: #c2755e;
    color:white; 
    text-align: right;}

@media (max-width:900px){
    .formulario{width: 80vw;margin:auto;}
    .titulo{margin-left: 10vw;
    font-size: 5vw;}
    .formulario div{width: 100%;}
}

