body { background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;}
.crear { 
    display: flex;
    flex-wrap: wrap;
    background-color: #C4C4C4;
    width: 50vw;
    height: 60vh;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vh;}
input { 
    background-color: #C4C4C4;}
.especial {
    width: 100%;
}
.crear div {
    display:block;
    width: 15vw;
    margin-right: 10vw;
    text-align: left;
    font-family: 'Poppins', sans-serif;}
.titulo { margin-left: 25vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;}

button { 
    background-color: #c2755e;
    color:white; 
    text-align: right;}
textarea {
    height: 10hv;
}

@media (max-width:900px){
    .crear{width: 80vw;margin:auto;}
    .titulo{margin-left: 10vw;
    font-size: 5vw;}
    .crear div{width: 100%;}
}