<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>desple</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <div class="burger-menu">
        <ul>
            <a href="/" onclick="funcA()">
                Inicio
            </a>
            <a href="/products" onclick="funcA()">
                Vinos
            </a>
            <a href="/bodegas" onclick="funcA()">
                Bodegas
            </a>
            <a href="/nosotros" onclick="funcA()">
                Nosotros
            </a>
            <a href="/contacto" onclick="funcA()">
                Contacto
            </a>
        </ul>
    </div>
</body>
</html>