<footer>
 
    <section id="footer-tab">
        <ul>
            <li>Inicio</li>
            <li>Vinos</li>
            <li>Bodegas</li>
        </ul>
        <ul>
            <li>Nosotros</li>
            <li>Contacto</li>
        </ul>
    </section>
    <section id="copyright">
        <p>Copyright © 2021</p>
    </section>
   

</footer>