<footer>
 
    <section id="footer-tab">
        <ul>
            <a>Inicio</a>
            <a>Vinos</a>
            <a>Bodegas</a>
        </ul>
        <ul>
            <a>Nosotros</a>
            <a>Contacto</a>
        </ul>
    </section>
    <section id="copyright">
        <p>Copyright © 2021</p>
    </section>
   

</footer>