<header>

    <figure>
        <img src="/img/logo.png">
    </figure>

    <a href="#" id="burger-menu">
        <i class="fas fa-bars burger"></i>
    </a>

    <nav id="nav-menu" class="show-mobile">
        <ul>
            <button>
                Inicio
            </button>
            <a href="/products"><button>
                Vinos
            </button></a>
            <button>
                Varietales
            </button>
            <button>
                Bodegas
            </button>
            <button>
                Servicio a empresas
            </button>
            <button>
                Nosotros
            </button>
            <button>
                Contacto
            </button>
        </ul>
    </nav>


    <nav id="nav-login">
        <ul>
            <li  id="menu">
                <a href="">

                    <i class="far fa-user"></i>
                </a>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <li>
                <a href="#">

                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href='#'>

                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </nav>

</header>