<header>

    <figure>
        <img src="/img/logo.png">
    </figure>

    <a href="#" id="burger-menu">
        <i class="fas fa-bars burger"></i>
    </a>

    <nav id="nav-menu" class="show-mobile">
        <ul>
            <a href="/">
                Inicio
            </a>
            <a href="/products">
                Vinos
            </a>
            <a href="/bodegas">
                Bodegas
            </a>
            <a href="/nosotros">
                Nosotros
            </a>
            <a href="/contacto">
                Contacto
            </a>
        </ul>
    </nav>


    <nav id="nav-login">
        <ul>
            <li  id="menu">
                <a href="">

                    <i class="far fa-user"></i>
                </a>
                <ul>
                    <% if (locals.isLogged == true) {%>
                    
                        <li><a href="/logout">Logout user <%= locals.userLogged.email %> </a></li>
                        <% } else {%>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                       <%  }%>
                </ul>
            </li>
            <li>
                <a href='/productCart'>

                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </nav>

</header>