<header>

    <figure>
        <img src="/img/logo.png">
    </figure>

    <a href="#" id="burger-menu">
        <i class="fas fa-bars burger"></i>
    </a>

    <nav id="nav-menu" class="show-mobile">
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/products">Vinos</a>
            </li>
            <li>
                <a href="/">Varietales</a>
            </li>
            <li>
                <a href="/">Bodegas</a>
            </li>
            <li>
                <a href="/">Servicio a empresas</a>
            </li>
            <li>
                <a href="/">Nosotros</a>
            </li>
            <li>
                <a href="/">Contacto</a>
            </li>
        </ul>
    </nav>


    <nav id="nav-login">
        <ul>
            <li>
                <a href="#">

                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="/login">

                    <i class="far fa-user"></i>
                </a>
            </li>
            <li>
                <a href='/productCart'>

                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </nav>

</header>