<header>
    
    <figure>
        <img src="/img/logo.png">
    </figure>


    
        <button onclick="funcB()" id="burger-menu">
            <i class="fas fa-bars burger"></i>
        </button>
        <script>
            
            function funcB(){
                if(document.querySelector(".desple").style.display == "none"){
                document.querySelector(".desple").style.display="block";
                }else{
                    funcA();
                    
                }
            }
        </script>
        <script>
            function funcA(){
                document.querySelector(".desple").style.display="none"
            }
        </script>
        

    <nav id="nav-menu" class="show-mobile">
        <ul>
            <a href="/">
                Inicio
            </a>
            <a href="/products">
                Vinos
            </a>
            <a href="/bodegas">
                Bodegas
            </a>
            <a href="/nosotros">
                Nosotros
            </a>
            <a href="/contacto">
                Contacto
            </a>

        </ul>
    </nav>


    <nav id="nav-login">
        <ul>
            <li  id="menu">
                <a href="#"  onclick="funU()">

                    <i class="far fa-user"></i>
                </a>
                <script>
            
                    function funU(){
                        
                        if(document.querySelector(".user").style.display == "none"){
                        document.querySelector(".user").style.display="block";
                        }else{
                            document.querySelector(".user").style.display="none";
                        }
                    }
                </script>
                <script>
                    function funA(){
                        document.querySelector(".user").style.display="none"
                    }
                </script>
            </li>
            <li>
                <a href='/productCart'>

                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </nav>
    
</header>